extend layout
block content
	h1 #{title}
	p.
		Multiply your anger by about a hundred, kate, that's how much he thinks he loves you. boxing is about respect. getting it for yourself, and taking it away from the other guy. no, this is mount everest. you should flip on the discovery channel from time to time. but i guess you can't now, being dead and all. cities fall but they are rebuilt. heroes die but they are remembered. you measure yourself by the people who measure themselves by you. i once heard a wise man say there are no perfect men. only perfect intentions. i once heard a wise man say there are no perfect men. only perfect intentions. i once heard a wise man say there are no perfect men. only perfect intentions. circumstances have taught me that a man's ethics are the only possessions he will take beyond the grave. well, what is it today? more spelunking? i don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. bruce... i'm god.

	p.
		Multiply your anger by about a hundred, kate, that's how much he thinks he loves you. boxing is about respect. getting it for yourself, and taking it away from the other guy. no, this is mount everest. you should flip on the discovery channel from time to time. but i guess you can't now, being dead and all. cities fall but they are rebuilt. heroes die but they are remembered. you measure yourself by the people who measure themselves by you. i once heard a wise man say there are no perfect men. only perfect intentions. i once heard a wise man say there are no perfect men. only perfect intentions. i once heard a wise man say there are no perfect men. only perfect intentions. circumstances have taught me that a man's ethics are the only possessions he will take beyond the grave. well, what is it today? more spelunking? i don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. bruce... i'm god.

block sidebar
	.block
		h1 Right Sidebar
		p. 
			Sed auctor neque eu. dumby text is here. 
		br
		.readmore
			a(href='http://example.com') Read More