extend layout
block content
  h1=title
  p.
   Welcome to the Node.js Demo Registration App. This demo app uses the following features/modules...
  ul.featurelist
    li.
      Express Framework
    li.
      Jade Template Engine
    li.
      Stylus CSS Generator
    li.
      Nib
    li.
      MongoDB
    li.
      Monk
  div.userlistlink
    p.
      To see all registered users, <a href="/userlist">click here</a>

