doctype html
html
	head
		title #{title} - Node.js Demo Site
		link(rel='stylesheet', href='/css/styles.css')
	body
		header
			.container
			h1 Node.js Demo Site
		.container
			.main-content
				block content
			.sidebar
				block sidebar
		footer
			.container
				p Copyright &copy; 2015

